version: '3.8'

services:
  image-classifier:
    build: .
    ports:
      - "5000:5000"
    volumes:
      - ./:/app
      - ./data/source:/data/source
      - ./data/classified:/data/classified
      - ./data/static:/data/static
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    environment:
      - FLASK_ENV=development
      - LINK_MODE=symlink   # vaihtoehdot: symlink, hardlink, copy
      - TZ=Europe/Helsinki
    restart: unless-stopped

  sftp:
    image: atmoz/sftp:latest
    ports:
      - "2222:22"
    volumes:
      - ./data/source:/home/camera/upload
    command: camera:password:1001
    restart: unless-stopped

volumes:
  source_images:
  classified_images:
